/*right position*/
.tooltipright {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted blue;
}
.tooltipright .toolttext {
  visibility: hidden;
  width: 200px;
  height: 100px;
  background-color: lightsalmon;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  /* Position the tooltip */
  position: absolute;
  z-index: 0;
  left: 110%;
}
.tooltipright .toolttext {
  visibility: visible;
}

/*left position*/
.tooltipleft {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted blue;
}
.tooltipleft .toolttextleft {
  visibility: hidden;
  width: 200px;
  height: 50px;
  background-color: lightsalmon;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 130%;
}
.tooltipleft:hover .toolttextleft {
  visibility: visible;
}
